body {
	background-color: rgb(242, 242, 242);
	margin: auto;
}

header {
	height: 170px;
	width: 1000px;
	margin: auto;
}

nav {
	position: fixed;
	top:0;
	right:0;
	left:0;
	background-color: white;
	box-shadow: 0px 2px 5px -1px #999;
	height: 60px;
}

#barraNav {
	height: 60px;
	width: 1000px;
	margin: auto;
}

#barraNav a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#barraNav a:hover {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #A4C400;
}

#nav_logo {
	display: inline-block;
	margin-right: 10px;
	padding-left: 5px;
	float: left;
	height: 60px;
}

.nav_boton {
	padding-top: 23px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 20px;
	float: left;
	text-align: center;
}

.nav_boton_cuenta {
	margin-top: -7px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: inline-block;
	width: 120px;
	text-align: center;
}

.nav_boton_bienvenido {
	padding-top: 12px;
	padding-right: 10px;
	margin-right: 135px;
	float: left;
	height: 37px;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

.nav_sesion {
	margin-top: 7px;
	margin-left: 15px;
	width: 120px;
	float: left;
}

.nav_sesion input {
	margin-bottom: 5px;
	width: 145px;
	height: 15px;
}

#ingresar input {
	margin-top: 7px;
	margin-left: 5px;
	height: 47px;
	float: right;
}

#nav_derecha{
	float: right;
	height: 60px;
	width: 500px;
	text-align: center;
}

#excepcion {
	background-color: #8EF9B2;
	box-shadow: 0px 0px 1px 1px #999;
	height: 20px;
	width: 1000px;
	text-align: center;
	font-size: 15px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: -60px;
}

#cuerpo {
	background: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	box-shadow: 0px 0px 2px #999;
	width: 1000px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 10px;
	min-height: 800px;
	overflow: hidden;
}

section {
	width: 730px;
	margin-right: 20px;
	margin-top: 20px;
	padding-left: 20px;
	float: right;
}

aside {
	width: 210px;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

#filtro_aside {
	box-shadow: 0px 0px 4px 1px #999;
	text-align: center;
	width: 200px;
	padding-top: 1px;
	padding-bottom: 5px;
}

#filtro_aside select {
	width: 140px;
}

#filtro_aside input {
	width: 140px;
	margin-bottom: 20px
}

.boton_aside {
	box-shadow: 0px 0px 2px 1px #999;
	background-color: #EEEEEE;
	text-align: center;
	width: 200px;
	margin-top: 20px;
	padding-top: 10px;
	height: 30px;
}

.boton_aside:hover {
	background-color: #8EF9B2;
}

a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: black;
}

footer {
	background-color: #A8C08C;
	padding: 10px;
	height: 80px;
	min-width: 980px;
	text-align: center;
	font-size: 15px;
	color: grey;
	clear: both;
}

footer span {
	color: white;
}

.miniSubasta {
	box-shadow: 0px 0px 5px 1px #999;
	background-color: #EEEEEE;
	width: 730px;
	height: 200px;
	margin-bottom: 20px;
}

.miniSubasta:hover {
	background-color: #8EF9B2;
}

.miniSubasta a {
	color: black;
}


.miniFoto {
	box-shadow: 0px 0px 2px 1px #999;
	display: inline-block;
	margin: 5px;
	height: 190px;
    width: 190px;
}

.miniDescripcion {
	float: right;
	font-size: 15px;
	font-color: black;
	margin: 5px;
	height: 190px;
    width: 510px;
}

.miniFoto img {
	height: 100%;
    width: 100%;
}

.maxiSubasta {
	box-shadow: 0px 0px 5px 1px #999;
	width: 720px;
	margin-bottom: 20px;
	margin-left: 5px;
}

.maxiFoto {
	display: inline-block;
	margin: 20px;
	width: 680px;
}

.maxiFoto img {
    width: 100%;
}

.maxiDescripcion {
	font-size: 18px;
	font-color: black;
	margin: auto;
	padding-bottom: 20px;
	width: 680px;
}